@import "tailwindcss";

:root {
    --color-primary: #bae6fd;
    --color-secondary: #5C96ED;
    --color-secondary2: #2563eb;
    --color-light: #f9fafb;
    --color-foreground: #111827;
    --color-purple: #BAC5FD;
    --color-danger: #A42C49;
    --color-muted: #B8C0CC;
    --color-mutedark: #9DA4AF;
}